@import '../variables';
// Estilos para el encabezado
.header {
  background-color: $oscuro; // Fondo del encabezado reemplazado
  //color: rgba(255, 255, 255, 0.4); // Ajustado para mejor contraste
  padding-right: 200px ; 
  padding-left: 150px;
  /* Ajustar el padding vertical a 10px para hacerlo más delgado */
  height: 50px; /* Ajusta la altura del encabezado */
  line-height: 50px; /* Alinear el texto verticalmente */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  background-position: center;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  



  .header-title {
    font-size: 2em; // la palabra "canchas"
    font-weight: bold;
    color: $white; // Color del título reemplazado
  }

  .nav {
    display: flex;
    gap: 100px;
  }

  .nav-link {
    color: #ffffff; // Color de los enlaces de navegación reemplazado
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 1em; // Aumenta el tamaño del texto
    margin-right: 15px; // Espaciado entre enlaces (opcional)
  }
  
  .highlight {
    font-weight: bold;
    color: $celeste; // Cambia el color de "GO!" a negro
    font-size: 1.3em; // Aumenta el tamaño del texto
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); // Agrega un sombreado (opcional)
  }
  
}

// Estilos para el contenido principal
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; // Espacio entre el header y el contenido principal
  width: 100%;
}

// Estilos para el pie de página
.footer {
  background-color: $oscuro;
  color: #fff;
  text-align: center;
  padding: 20px;
  min-width: 100vh;
  

  .footer-nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .footer-link {
    color: #6BA3BE; // Color de los enlaces del pie de página reemplazado
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: #0C969C; // Color al pasar el cursor reemplazado
    }
  }
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items:right;

  margin-right: auto; /* Empuja el botón a la derecha */
}
